{{define "theme-custom/footer"}}
</main>

<div class="mdui-divider"></div>
<footer class="mdui-container mdui-p-t-2 mdui-p-b-2 mdui-typo mdui-text-center">
    <b>&copy; <a href="/">{{.Conf.Site.Brand}}</a></b> | Powered by <a
        href="https://github.com/naiba/nezha" target="_blank">{{tr "NezhaMonitoring"}}</a>
    {{.Version}}
    <br>
    Theme by <a href="https://github.com/MisaLiu/nezha-theme-mdui" target="_blank">MisaLiu</a>
</footer>

<script defer src="/static/js/mdui.min.js"></script>
<script defer src="/static/js/main.js?v20230417"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        updateLang({{.LANG }});
    });
</script>
</body>

</html>
{{end}}
